@{
    ViewData["Title"] = "Access Denied";
}

<div class="container mt-5 text-center">
    <div class="alert alert-danger">
        <h3>Access Denied</h3>
        <p>You Cant Access This Page.</p>
    </div>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
        Go Back Home
    </a>
</div>