<div class="mt-3">
    <a asp-controller="Doctors" asp-action="Index" class="btn btn-primary">
        View Doctors
    </a>

    <a asp-controller="Appointments" asp-action="Create" class="btn btn-success ms-2">
        Book Appointment
    </a>

    <a asp-controller="Appointments" asp-action="MyAppointments" class="btn btn-info ms-2">
        My Appointments
    </a>

    <a asp-controller="Notifications" asp-action="MyNotifications" class="btn btn-warning ms-2">
        My Notifications
    </a>

    <a asp-controller="Notifications" asp-action="Index" class="btn btn-warning ms-2">
        View Notifications
    </a>
    <a asp-controller="Invoices" asp-action="MyInvoices" class="btn btn-dark ms-2">
        My Invoices
    </a>
</div>